body{
	margin: 0;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:100);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
:focus {
	outline: none;
}
body {
	font-family: 'Roboto', sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
	color: #344;
}
html, body, .perspective {
	width: 100%;
	height: 100%;
}
a {
	text-decoration: none;
	outline: none;
}
a:hover, a:focus {
	outline: none;
}
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}
.clearfix:after {
	clear: both;
}
.main {
	max-width: 69em;
	margin: 0 auto;
}
.perspective {
	background: #eee;
	position: relative;
}
.container {
	background: #fff;
	min-height: 100%;
	position: relative;
	outline: 1px solid rgba(0,0,0,0);
	z-index: 10;
	-webkit-transform: translateZ(0) translateX(0) rotateY(0deg); /* reset transforms (Chrome bug) */
	transform: translateZ(0) translateX(0) rotateY(0deg);
}
.container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0px;
	opacity: 0;
	background: rgba(0,0,0,0.2);
	/* the transition delay of the height needs to be synced with the container transition time */
	-webkit-transition: opacity 0.4s, height 0s 0.4s;
	transition: opacity 0.4s, height 0s 0.4s;
}
.wrapper {
	position: relative;
}
.component {
	margin: 0 auto;
	width: 60%;
	text-align: justify;
	font-size: 1.5em;
}
/* Modal view */
.perspective.modalview {
	position: fixed;
	-webkit-perspective: 1500px;
	perspective: 1500px;
}
.modalview .container {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.modalview .wrapper {
	-webkit-transform: translateZ(-1px); /* solves a rendering bug in Chrome on Windows */
}
.animate .container::after {
	opacity: 1;
	height: 101%;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
/* Outer Nav */
.outer-nav {
	position: absolute;
	height: auto;
	font-size: 2em;
}
.outer-nav.vertical {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.outer-nav.horizontal {
	left: 50%;
	width: 75%;
	max-width: 1000px;
	text-align: center;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.outer-nav.left {
	left: 25%;
}
.outer-nav.right {
	right: 25%;
}
.outer-nav.top {
	top: 25%;
}
.outer-nav.bottom {
	bottom: 25%;
}
.outer-nav a {
	display: inline-block;
	white-space: nowrap;
	margin: 0 0 30px 0;
	color: #fff;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.outer-nav a:hover {
	color: #ffdccd;
}
.outer-nav.vertical a {
	display: block;
}
.outer-nav.horizontal a {
	margin: 15px 20px;
}
/* Effect Move Left */
.effect-moveleft {
	background: #f4f3f1;
}
.effect-moveleft .container {
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
.effect-moveleft .container::after {
	background: rgba(255,255,255,0.6);
}
.effect-moveleft.animate .container {
	-webkit-transform: translateX(-50%) rotateY(45deg) translateZ(-50px);
	transform: translateX(-50%) rotateY(45deg) translateZ(-50px);
}
.no-csstransforms3d .effect-moveleft.animate .container {
	left: -75%;
}
.effect-moveleft .outer-nav a {
	color: #0ba;
	opacity: 0;
	-webkit-transform: translateX(100px) translateZ(-1000px);
	transform: translateX(100px) translateZ(-1000px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}
.effect-moveleft .outer-nav a:hover {
	color: #333;
}
.effect-moveleft.animate .outer-nav a {
	opacity: 1;
	-webkit-transform: translateX(0) translateZ(0);
	transform: translateX(0) translateZ(0);
}
.effect-moveleft.animate .outer-nav a:nth-child(2) {
	-webkit-transition-delay: 0.04s;
	transition-delay: 0.04s;
}
.effect-moveleft.animate .outer-nav a:nth-child(3) {
	-webkit-transition-delay: 0.08s;
	transition-delay: 0.08s;
}
.effect-moveleft.animate .outer-nav a:nth-child(4) {
	-webkit-transition-delay: 0.12s;
	transition-delay: 0.12s;
}
.effect-moveleft.animate .outer-nav a:nth-child(5) {
	-webkit-transition-delay: 0.16s;
	transition-delay: 0.16s;
}
.effect-moveleft.animate .outer-nav a:nth-child(6) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.effect-moveleft.animate .outer-nav a:nth-child(7) {
	-webkit-transition-delay: 0.24s;
	transition-delay: 0.24s;
}
/* Typogaphy
———————————————————————————————————— */
h1, h2, h3, h4, p, * {
	margin: 0;
	font-weight: 100;
}
h1, h2, h3 {
	text-transform: uppercase;
	letter-spacing: 2px;
}
html {
	font-size: 18px;
}
body {
	font-size: 1rem;
	line-height: 1.6rem;
}
h1 {
  font-size: 3rem;
  line-height: 3.6rem;
}
h2 {
	font-size: 2.6rem;
	line-height: 3.2rem;
	text-align: center;
	margin-bottom: 60px;
}
h3 {
	font-size: 2rem;
	line-height: 2.6rem;
}
h4 {
	font-size: 1rem;
	line-height: 1.6rem;
	text-transform: uppercase;
}
p {
	margin-bottom: 30px;
}
/* END Typogaphy
———————————————————————————————————— */
/* Layout
———————————————————————————————————— */
.flex {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.inner {
	max-width: 900px;
	margin: 0 auto;
}
.inner,
.site-footer .footer-work,
.site-footer .footer-post,
.site-footer .footer-info {
	padding: 30px 15px;
}
@media only screen and (min-width : 768px) {
	/* Styles */
	.inner,
	.site-footer .footer-work,
	.site-footer .footer-post,
	.site-footer .footer-info {
		padding: 50px;
	}
}
.work .thumb {
  float: left;
}
.work:after {
  content: "";
  display: table;
  clear: both;
}
/*.row {
	display: flex;
	flex-flow: row wrap;
}*/
.column .inner > * {
	width: 49%;
	display: inline-block;
}
.column * {
	vertical-align:top;
}
.min-margin .inner {
	margin-top: -100px;
	background: #fff;
}
.image-container img {
	display: block;
	width: 100%;
}
.no-flexbox .thumb {
	display: inline-block;
	width: 48%;
}
/* END Layout
———————————————————————————————————— */
/* Header
———————————————————————————————————— */
.nav-social,
header ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
button#showMenu {
	border: 0;
	padding: 0;
	background: transparent;
}
header object {
	width: 50px;
	height: 50px;
}
body:not(.index) .site-header > * {
  opacity: .4;
  transition: opacity .6s ease;
}
body:not(.index) .site-header:hover > * {
  opacity: 1;
}
.site-header {
	display: flex;
	justify-content: space-between;
	padding: 15px;
}
.site-header, .site-header button#showMenu {
	text-transform: uppercase !important;
	font-size: 12px;
}
.work-header {
	min-height: 450px;
	height: 80vh;
	text-align: center;
}
.work-header h1 {
	color: #fff;
	background: #344;
	padding: 15px 30px;
	-webkit-animation-delay: 10s;
	animation: in .8s forwards;
}
@keyframes in {
	0% {
		-webkit-clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
	}
	10% {
		-webkit-clip-path: polygon(0 0, 5% 0, 0% 100%, 0% 100%);
	}
	20% {
		-webkit-clip-path: polygon(0 0, 5% 0, 0% 100%, 0% 100%);
	}
	50% {
		-webkit-clip-path: polygon(0 0, 5% 0, 15% 100%, 0% 100%);
	}
	100% {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
}
/* END Header
———————————————————————————————————— */
/* Homepage
———————————————————————————————————— */
.index .title {
	position: relative;
}
.index .title .inner {
	min-height: 600px;
	height: 90vh;
}
.index .title h1 {
	letter-spacing: 2px;
}
.index .title a {
	color: #344;
}
.index .title svg.line.animate > * {
	stroke: #0ba;
	stroke-width: 1px;
}
.index .title svg.line.animate {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.index .intro {
	z-index: 9;
}
.index .intro .inner {
  background: #fff;
}
.index .intro h1 a:hover {
  background: #0ba;
}
.index .intro h2 {
  text-align: left;
  font-size: 2rem;
  text-transform: inherit;
}
.index .intro h2 a {
	color: #334;
  border-bottom: 2px solid;
	/*animation: in .8s forwards;*/
	transition: color .3s ease;
}
.index .intro h2 a:hover {
	color: #0ba;
}
.index .intro h2 a:nth-of-type(1) { animation-delay: .2s; }
.index .intro h2 a:nth-of-type(2) { animation-delay: .4s; }
.index .intro h2 a:nth-of-type(3) { animation-delay: .6s; }
.index .intro h2 a:nth-of-type(4) { animation-delay: .8s; }
.index .intro h2 a:nth-of-type(5) { animation-delay: .10s; }
.index .intro h2 a:nth-of-type(6) { animation-delay: .12s; }
.index .intro h2 a:nth-of-type(7) { animation-delay: .14s; }
/* Me */
.me {
  padding: 150px 0;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
	text-align: center;
}
.me img {
  max-width: 300px;
  max-height: 300px;
}
/* Team */
.team {
	display: flex;
}
.team > *{
	flex-grow: 1;
}
.team .inner {
	padding: 0;
}
.team-member {
	position: relative;
	min-width: 200px;
}
.team-member h4 {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff;
}
/* END Homepage
———————————————————————————————————— */
/* Items
———————————————————————————————————— */
.thumb {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background .3s ease;
		background: linear-gradient(135deg, rgba(0,233,255,.8) 0%,rgba(0,187,170,.8) 100%);
}
.gradiant,
.thumb {
	height: 30vh;
	min-height: 300px;

}
.gradiant {
		background: linear-gradient(135deg, rgba(145,160,160,.8)  0%,rgba(51,68,68,.8) 100%);
}
.gradiant:hover {
		background: linear-gradient(135deg, rgba(145,160,160,.4)  0%,rgba(51,68,68,.4) 100%);
}
.thumb:hover {
	background: linear-gradient(135deg, rgba(0,233,255,.6) 0%,rgba(0,187,170,.6) 100%);
}
.no-flexbox .thumb {
	float: left;
}
.logo {
	max-width: 250px;
}
/* END Items
———————————————————————————————————— */
/* Single
———————————————————————————————————— */
.excerpt {
	text-align: center;
	color: #aaa;
}
/* END Single
———————————————————————————————————— */
/* Post
———————————————————————————————————— */
.post-list {
	color: #344;
	display: block;
}
.post-list:hover {
  background: #0ba;
  color: #fff;
}
.post-list h3 {
	text-transform: inherit;
}
.next {
  display: block;
  padding: 120px 15px;
  background: #e64;
  color: #fff
}
@media only screen and (min-width : 768px) {
	/* Styles */
	.post-header,
	.next {
	  padding: 120px;
	}
}
.next span {
  text-transform: uppercase;
	text-align: left;
	max-width: 400px;
	transition: opacity .2s ease, transform .3s ease;
}
.next:hover span {
  text-transform: uppercase;
	text-align: left;
	max-width: 400px;
	opacity: 0;
	transform: translateY(15px);
	display: block;
}
.next h2 {
  text-transform: inherit;
	text-align: left;
	max-width: 400px;
	transition: transform .4s ease;
	margin: 0;
}
.next:hover h2 {
  transform: translateY(-30px);
}
.post-header {
	padding: 120px 15px;
	text-align: center;
	color: #fff;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	text-align: left;
}
/* End Post
———————————————————————————————————— */
/* Contact
———————————————————————————————————— */
.contact-social .nav-social > * {
  display: inline-block;
  width: 60px;
	height: 60px;
}
.contact-social .social rect {
	fill: rgba(255,255,255,0);
	stroke: #0ba;
	stroke-width: 9;
}
.contact-social .social * {
	fill: #0ba;
}
.contact-info span {
	display: block;
}
.pletterij {
	min-height: 450px;
}
/* END Contact
———————————————————————————————————— */
/* Footer
———————————————————————————————————— */
.site-footer .inner {
	padding: 0;
}
.site-footer {
	background: #344;
}
.site-footer h4 {
	margin-right: 15px;
	margin-bottom: 15px;
}
.site-footer a {
	margin: 0;
	display: block;
	opacity: .6;
	transition: opacity .4s ease;
}
.site-footer a:hover {
	opacity: 1;
}
.site-footer .footer-posts > * > * {
	display: inline-block;
}
.site-footer .footer-posts > *:nth-child(2n+1) {
	background: rgba(0, 0, 0, 0.1);
}
.site-footer .footer-posts > *:nth-child(2n+2) {
	background: rgba(0, 0, 0, 0.2);
}
.site-footer,
.site-footer a {
	color: #fff;
}
.site-footer .footer-info > * {
	display: inline-block;
}
.site-footer .footer-info img {
	width: 90px;
	height: 90px;
	margin-right: 30px;
	-webkit-filter: grayscale(100%);
	filter: gray;
	filter: grayscale(100%);
	filter: url(desaturate.svg#greyscale);
	opacity: .4;
}
.site-footer .social rect {
	fill: rgba(255,255,255,0);
	stroke: #fff;
	stroke-width: 9;
}
.site-footer .social g > * {
	fill: #fff;
}
.site-footer p {
	margin-bottom: 0;
}
.site-footer address {
	margin-bottom: 15px;
}
/* END Footer
———————————————————————————————————— */
/* Bits
———————————————————————————————————— */
header svg {
	width: 40px;
	height: 40px;
}
.line > * {
	fill: rgba(255,255,255,0);
	stroke: #344;
	stroke-width: 9;
}
.social rect {
	fill: rgba(255,255,255,0);
	stroke: #344;
	stroke-width: 9;
}
.social g > * {
	fill: #344;
}
header svg {
	fill: #344;
}
.clip {
  -webkit-clip-path: polygon(50% 0, 85% 15%, 100% 50%, 85% 85%, 50% 100%, 15% 85%, 0 50%, 15% 15%);
  clip-path: polygon(50% 0, 85% 15%, 100% 50%, 85% 85%, 50% 100%, 15% 85%, 0 50%, 15% 15%);
}
address {
  font-style: normal;
}
nav.outer-nav.right.vertical {
  overflow: hidden;
}
/* END Bits
———————————————————————————————————— */
/* Media Queries */
@media only screen and (max-width : 899px) {
	/* Styles */
	.site-footer .inner > * {
  	width: 100%;
	}
}
@media only screen and (min-width : 769px) {
	/* Styles */
	.site-header {
		flex-direction: column;
		background: #fff;
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		bottom: 0;
		text-align: center;
	}
	.container {
		padding-left: 67px;
	}
	header .nav-main li {
		margin-bottom: 20px;
	}
	.address .inner > * {
		display: inline-block;
		width: 49%
	}
}
@media only screen and (max-width : 769px) {
	/* Styles */
	.thumb {
		width: 100%;
	}
	header li {
		margin-right: 20px;
	}
	header li {
		display: inline;
	}
	.title {
  	overflow: hidden;
	}
	.index .title svg.line.animate {
  	width: 200%;
  	left: -50%;
	}
}
@media only screen and (max-width : 520px) {
	/* Styles */
	.nav-social {
		display: none;
	}
	h1 {
		font-size: 1.4rem;
		line-height: 2rem;
	}
}
@media screen and (max-width: 77em) {

	.outer-nav.top {
		top: 15%;
	}

	.outer-nav.bottom {
		bottom: 15%;
	}
}

@media screen and (max-width: 36.625em), screen and (max-height: 41.75em) {

	.outer-nav.top {
		top: 5%;
	}

	.outer-nav.bottom {
		bottom: 5%;
	}

	.outer-nav.horizontal {
		font-size: 1.7em;
		width: 6.2em;
	}

	.outer-nav.horizontal a {
		display: block;
		text-align: left;
	}

}

@media screen and (max-width: 31em), screen and (max-height: 36.2em) {
	.outer-nav.horizontal,
	.outer-nav.vertical {
		font-size: 1.2em;
		width: 6.8em;
	}

	.outer-nav.right {
		right: auto;
		left: 50%;
	}
}

@media screen and (max-height: 31.6em) {
	.outer-nav a {
		margin-bottom: 20px;
	}
}
