aside svg {
	fill: rgba($alt-color, .6);
}
aside svg:hover {
	fill: $alt-color;
}
aside footer {
	position: absolute;
	width: 30px;
	bottom: 0;
}
aside footer svg {
	margin-top: 10px;
}

aside button {
	border: none;
	background: none;
	width: 30px;
	padding: 0;
}
#map_canvas {
	width: 100%;
	height: 100%;
}
