.decoration-plus-1 {
  width: 24px;
  height: 24px;
  stroke: white;
  position: absolute;
  top: 337px;
  left: 140px;
}

.decoration-square-1 {
  position: absolute;
  top: 400px;
  left: -100px;
  width: 21px;
  height: 21px;
  animation: driftBy 180s -45s linear infinite;
  stroke: white;
}
@keyframes driftBy {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(1500px);
  }
}