body {
	margin: 0;
}
aside {
	color: #fff;
	position: fixed;
	z-index: 100;
	background: #0ba;
	padding: 15px;
	top: 0;
	left: 0;
	bottom: 0;
}
.row {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	background-color: #b0e0e6;
}