body {
	margin: 0;
}
aside {
<<<<<<< HEAD
	color: #fff;
	position: fixed;
	z-index: 100;
	background: #0ba;
	padding: 15px;
	top: 0;
	left: 0;
	bottom: 0;
=======
color: $alt-color;
position: absolute;
z-index: 10;
background: $base-color;
width: 60px;
height: 100%;
float: left;
overflow-y: auto;
overflow-x: hidden;
padding: 10px;
>>>>>>> FETCH_HEAD
}
.row {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	background-color: #b0e0e6;
}