.article {
  padding: 0 10px 0 255px;
  margin: 0 0 100px 0;
  position: relative;
  h2 {
    position: relative;
    top: -0.4rem;
    color: #22D1A8;
    font-style: italic;
  }
  .meta {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 2;
    color: $midgray;
    a {
      text-decoration: underline;
    }
    .banner {
      background: $midgray;
      color: white;
      display: inline-block;
      padding: 5px 15px;
      margin: 0 -20px 10px 0;
      font-weight: bold;
      font-size: 1.0rem;
      letter-spacing: 0.4rem;
      white-space: nowrap;
    }
  }
  @include breakpoint(mama-bear) {
    padding: 0 20px;
    .meta {
      position: relative;
      width: 100%;
      text-align: left;
      margin: 0 0 10px 0;
      br {
        display: none;
      }
      .banner {
        margin: 0 10px 0 0;
        padding: 0 10px;
        line-height: 1.8;
        font-size: 0.9rem;
      }
    }
  }
}

.read-more {
  display: inline-block;
  padding: 2px 0;
  color: $midgray;
  border-bottom: 4px solid $midgray;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: bold;
  svg {
    width: 13px;
    height: 13px;
    fill: $green;
  }
  &:hover, &:focus {
    color: $green;
    border-bottom-color: black;
    svg {
      fill: black;
    }
  }
}