body.projects article {
  position: relative;
}
body.projects article img {
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
body.projects article .meta {
  position: absolute;
  top: 0;
  padding: 20px;
  background: $base-color;
  color: $alt-color;
}
body.projects article {
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
  margin: 10px 0;
}

body.projects article:hover {
  transform: translate(25px, 0);
}
