html {
  font-size: 110%;
  @include breakpoint(mama-bear) {
    font-size: 100%;
  }
  @include breakpoint(baby-bear) {
    font-size: 85%;
  }
}

body {
  font-family: "ff-meta-web-pro", sans-serif;
  line-height: 1.7;
  color: $darkgray;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  a {
    color: $green;
  }
}
h2 {
  font-size: 2.3rem;
  margin: 0 0 0.8rem 0;
}

p {
  margin: 0 0 1rem 0;
}

.article-text {
  a {
    text-decoration: underline;
  }
}