$base-color: #0ba;
$sub-color: #344;
$alt-color: #fff;


$midgray: #777;
$darkgray: #444;

@import "bits";
@import "component";
@import "footer";
@import "header";
@import "layout";
@import "post";
@import "typography";
