$pink: #FC39C5;
$green: #21CAA3;
$yellow: #E9CB30;

$midgray: #383838;
$darkgray: #242424;

@import "bits";
@import "reset";
@import "typography";
@import "header";
@import "hero";
@import "layout";
@import "post";
@import "work";
@import "footer";
@import "decoration_shapes";
@import "component";
