---
layout: default
---

<div class="row title">
	<div class="inner">
		<h1>{{ site.title }}</h1>
	</div>
	{% include line.svg %}
</div>
<div class="row intro">
	<div class="inner">
		<h2>onderdeel van <a href="//studioalloy.nl">Studio Alloy</a>, een collectief dat wordt gevormd door een groep <a href="/team">creatieve ondernemers</a> die zich dagelijks bezighoudt met het maken van <a href="/case">verhalen voor op het beeldscherm</a>. Wij maken impact met pixels. Of het een <a href="#">website</a>, <a href="#">game</a>, <a href="#">mobiele app</a>, <a href="#">video</a> of <a href="#">animatie</a> is, of dit alles gecombineerd.</h2>
	</div>
</div>
<div class="row">
	{% assign published = (site.work | where:"featured","true") %}
	{% for post in published limit:6%}
	<a href="{{ post.url }}" class="thumb">
		<img class="cover" src="/img/work/{{ post.title | slugify }}-thumb.jpg" alt="{{ post.title }} | {{ post.excerpt }}">
		<img class="logo" src="/img/work/{{ post.title | slugify }}-logo.png" alt="{{ post.opdrachtgever }}">
	</a>
	{% endfor %}
</div>

<div class="row me" style="background: url(img/cover.png);">
	<img src="img/team/{{ site.name | slugify }}.jpg" alt="" class="clip"/>
</div>
<div class="row about min-margin">
	<div class="inner">
		<h2>{{ site.name }}</h2>
		{{ site.about }}
	</div>
</div>
<div class="row">
	<div class="inner">
		<h2>Meet the people I work with</h2>
	</div>
</div>
<div class="row team">
	{% for post in site.team %}
	<div class="team-member gradiant">
		<img src="img/team/{{ post.title | slugify }}.jpg" alt="{{ post.title }}" class="cover"/>
		<h4>{{ post.title }}</h4>
	</div>
	{% endfor %}
</div>
