---
layout: landing
page-type: landing
title: "Wordpress Websites"
description: Wordpress is het grootste content managment systeem, ofwel een CMS dat veel wordt gebruikt vandaag de dag. Het is een open-source platform met een hele actieve developers community. En dat is een interessant gegeven voor ons. Er wordt wereldwijd door programmeurs met dit platform gewerkt, dus dagelijks worden nieuwe stukjes deelsoftware ontwikkeld in de vorm van plugins waar andere ontwikkelaars weer gebruik van kunnen maken. Kortom, we hoeven niet steeds opnieuw het wiel uit te vinden. We kunnen voordat we besluiten iets zelfstandig te ontwikkelen, eerst de Wordpress community raadplegen. Bovendien zorgt de actieve community ervoor dat u met uw Wordpress website nooit hoeft vast te zitten aan één partij, want iedere Wordpress programmeur kan verder bouwen aan uw website vanwege de bekende structuur en opbouw.
categorie: landing
permalink: wordpress/
---
<section>
  <article>
    <section class=" landing-header" style="background: linear-gradient(150deg, #39B 30%, #39B 40%, #279 100%);">
      <div class="landing-header__title center">
        <h1>{{page.title}}</h1>
        <h3 class="transform">Volledig in uw eigen beheer</h3>
      </div>
    </section>

    <section class="wordpress ">
      <div class="min-vh">
        <img class="header-img" src="/img/landing/{{ page.title | slugify}}-header.png">
      </div>
    </section>

    <section class="">
      <div class="inner text">
        <h2 class="center">Snel een moderne en aansprekende website</h2>
        {{ page.description }}
      </div>
    </section>

    <!-- <section class=" column" style="background: linear-gradient(150deg, #39B 30%, #39B 40%, #279 100%); height: 800px;">
      <div class="slider">
        <img class="device" src="/img/landing/{{ page.title | slugify}}-device.png">
        <div id="owl-carousel">
          <img src="/img/landing/{{ page.title | slugify}}-slide1.jpg" alt="" />
          <img src="/img/landing/{{ page.title | slugify}}-slide2.jpg" alt="" />
          <img src="/img/landing/{{ page.title | slugify}}-slide3.jpg" alt="" />
          <img src="/img/landing/{{ page.title | slugify}}-slide4.jpg" alt="" />
          <img src="/img/landing/{{ page.title | slugify}}-slide5.jpg" alt="" />
        </div>
      </div>
    </section> -->

    <section class="">
      <div class="">
          {% include project-button.html %}
        </div>

    </section>
    <section class="">
      <div class="inner text">
        <h2 class="center">Wij weten raad met Wordpress</h2>
        <p>Wordpress wordt door sommigen bekritiseerd als slechte basis voor een website. Het is oorspronkelijk gemaakt voor blogs, maar inmiddels is Wordpress doorgegroeid als wereldwijd platform en alleen in Nederland is een op de drie websites gebouwd in Wordpress (bron: Nu.nl, oktober 2015). Wij van Alloy omarmen Wordpress wanneer dit past bij de wens van de opdrachtgever. De actieve community en het feit dat alles open-source beschikbaar is, maakt het een perfect startpunt voor elke website. </p>
        <p>Iedere goede Wordpress ontwikkelaar, waar wij er een aantal van in huis hebben, weet dat de volledige vormgeving van de voorkant van een website op maat gemaakt kan worden. Ook zijn er genoeg plugins om de website precies te laten functioneren zoals is gewenst. Wat echter vaak wordt vergeten, is dat het CMS ook volledig op maat te maken is. Wordpress heeft een content management systeem (CMS) met veel functies en door het gebruik van plugins krijgt het CMS nog meer functies. En al snel te veel, zodat men compleet het overzicht kwijt raakt. Onze opdrachtgevers die gebruik maken van het CMS willen we een overzichtelijke dashboard bieden, die precies laat zien wat nodig is om mee te kunnen werken. Ook kan een website meerdere soorten gebruikers hebben; een administrator met alle rechten of een content manager die slechts teksten, afbeeldingen en video's op bepaalde pagina's mag plaatsen.</p>
        <p>Wanneer wij een website opleveren denken wij niet alleen na over de user experience (UX) van de voorkant van uw website door uw klanten, maar ook de UX door u of uw team die de website aan de achterkant beheren.</p>
      </div>
    </section>

    <section class="" style="background: linear-gradient(150deg, #39B 30%, #39B 40%, #279 100%);">
      <div class="inner  wrap icons">

        <div class="icon-box wow bounceInUp">
          <img src="/img/landing/{{ page.title | slugify }}-icon-business.svg" alt="" />
          <h2>Business website</h2>
        </div>

        <div class="icon-box wow bounceInUp">
          <img src="/img/landing/{{ page.title | slugify }}-icon-campagne.svg" alt="" />
          <h2>Campagne of activatie website</h2>
        </div>

        <div class="icon-box wow bounceInUp">
          <img src="/img/landing/{{ page.title | slugify }}-icon-webshop.svg" alt="" />
          <h2>Webshop of webwinkel</h2>
        </div>

      </div>
    </section>

    <section class=" qoute-box">
      <div class=" qoute">
        <img src="/img/team/ruben-daas.jpg" class="clip mobile-first" alt="" />
        <div class="qoute-text">
          <q>Wordpress is super, want we kunnen blijven doorontwikkelen op hetzelfde platform.</q>
          <p>Jurre <span>Viteau</span></p>
        </div>
      </div>
      <div class=" qoute">
        <img src="/img/team/ruben-daas.jpg" class="clip" alt="" />
        <div class="qoute-text">
          <q>Mooi project om kennis te overdragen door ervarning in plaats van vertellen.</q>
          <p>Ruben Daas <span>Daas Design</span></p>
        </div>
      </div>
    </section>

    <section class="icons " style="background: linear-gradient(150deg, #39B 30%, #39B 40%, #279 100%);">
      <div class="inner  wrap icons">

        <div class="icon-box">
          <img src="/img/landing/{{ page.title | slugify }}-icon-open.svg" alt="" />
          <h2>Open-source denken</h2>
          <p>De code van Wordpress is open-source en daar doen wij niet moeilijk over. Wij ondersteunen juist deze gedachte. Er kan altijd doorgebouwd worden op uw site door elke Wordpress ontwikkelaar. </p>
        </div>

        <div class="icon-box">
          <img src="/img/landing/{{ page.title | slugify }}-icon-cms.svg" alt="" />
          <h2>U heeft de touwtjes in handen</h2>
          <p>U zit dus nooit vast aan ons en kunt gaan en staan met uw website waar uw wil. Met deze werkwijze streven wij ernaar dat u juist met ons WILT werken in plaats van dat het moet...</p>
        </div>

        <div class="icon-box">
          <img src="/img/landing/{{ page.title | slugify }}-icon-backup.svg" alt="" />
          <h2>Managed hosting met periodieke backups</h2>
          <p>Wij verzorgen het beheer en de hosting van uw website en zorgen voor periodieke backups. Op deze manier kunnen wij , om wat voor reden dan ook, altijd teruggrijpen naar een eerdere versie, mocht zich een problem voor doen.</p>
        </div>

        <div class="icon-box">
          <img src="/img/landing/{{ page.title | slugify }}-icon-video.svg" alt="" />
          <h2>Instructievideo's</h2>
          <p>Geen zin om lange documentatie te lezen? Wij ook niet. Wij doen het liever een keertje voor en daar maken we een video van. Wij maken voor al onze opdrachtgevers gepersonaliseerde uitlegvideo's, die u en uw team kunnen gebruiken ter ondersteuning hoe iets werkt.</p>
        </div>

        <div class="icon-box">
          <img src="/img/landing/{{ page.title | slugify }}-icon-responsive.svg" alt="" />
          <h2>Responsive design</h2>
          <p>Al onze sites zijn vanzelfsprekend responsive, dus passen zich aan op het gebruikte beeldschermformaat (desktop, laptop, tablet of smartphone) en werken op alle moderne browsers</p>
        </div>

        <div class="icon-box alt ">
          <p>Wij hopen dat dit allemaal goed klinkt en dat u ons als web partner wil overwegen. Mocht u nog vragen hebben, <a href="#contact">neem dan contact met ons op</a>.</p>
      </div>
    </section>

    <section class=" logos half-vh">
      <div class="inner  space-around">
        <img src="/img/landing/{{ page.title | slugify }}-rode-kruis.svg" alt="" />
        <img src="/img/landing/{{ page.title | slugify }}-plein-c.svg" alt="" />
        <img src="/img/landing/{{ page.title | slugify }}-critical-mass.svg" alt="" />
      </div>
    </section>
    <section class="">
      <div class=" min-min-vh">
        <!-- <div class="checklist-box ">
          <div class="">


            <div class="checklist aanbieders">
              <ul>
                <li class="title">Voordelen voor u</li>
                <li>Moderne website, geschikt voor alle type apparaten</li>
                <li>Eenvoudig te beheren via het Wordpress CMS</li>
                <li>Volledige service, inclusief hosting </li>
                <li>Voor ieder budget iets te ontwikkelen</li>
                <li>Uw website is eenvoudig overdraagbaar aan een andere partij</li>
              </ul>
            </div>
            <div class="checklist aanbieders">
              <ul>
                <li class="title">Voordelen voor ons</li>
                <li>Wordpress heeft een grote open-source community</li>
                <li>Snel en efficiënt kunnen werken</li>
                <li>Geen ingewikkelde ICT, alles is online</li>
                <li>Klein beginnen en later toch kunnen doorontwikkelen</li>
                <li>Uw website is eenvoudig overdraagbaar... Liever niet natuurlijk ;-)</li>
              </ul>
            </div>
          </div>
        </div> -->
      </div>
    </section>
    <!-- <section class="">
      <div class="inner ">
        {% include contact-from.html %}
      </div>
    </section> -->
  </article>
</section>
