  <aside>

  	<button id="showMenu">
  		<svg viewBox="0 0 100 100" class="menu">
  			<use xlink:href="/images/svg-defs.svg#shape-menu"></use>
  		</svg>
  	</button>


  	<footer>
  		<a href="http://twitter.com/mvaneijgen">
  			<svg viewBox="0 0 100 100" class="github">
  				<use xlink:href="/images/svg-defs.svg#shape-github"></use>
  			</svg>
  		</a>
  		<a href="http://github.com/mvaneijgen">
  			<svg viewBox="0 0 100 100" class="twitter">
  				<use xlink:href="/images/svg-defs.svg#shape-twitter"></use>
  			</svg>
  		</a>
  		<a href="/">
  			<svg viewBox="0 0 100 100" class="logo">
  				<use xlink:href="/images/svg-defs.svg#shape-logo"></use>
  			</svg>
  		</a>
  	</footer>
  </aside>