<aside>
	<div class="side-author-info">
		<h1>{{ site.name}}</h1>
		<h3>{{ site.tagline}}</h3>

		<section class="social">
			<a href="http://linkedin.com/in/mvaneijgen/">
				<svg viewBox="0 0 100 100" class="linkedin">
					<use xlink:href="/images/svg-defs.svg#shape-linkedin"></use>
				</svg>
			</a>
			<a href="http://twitter.com/mvaneijgen">
				<svg viewBox="0 0 100 100" class="twitter">
					<use xlink:href="/images/svg-defs.svg#shape-twitter"></use>
				</svg>
			</a>
			<a href="http://github.com/mvaneijgen">
				<svg viewBox="0 0 100 100" class="github">
					<use xlink:href="/images/svg-defs.svg#shape-github"></use>
				</svg>
			</a>
			<a href="/">
				<svg viewBox="0 0 100 100" class="logo">
					<use xlink:href="/images/svg-defs.svg#shape-logo"></use>
				</svg>
			</a>
		</section>
		<author>
		<img src="{{ site.avatar }}">
		<h4>{{ site.copyright }}</h4>
		<p>{{ site.description }}</p>
		</author>
	</div>
</aside>