<form action="https://getsimpleform.com/messages?form_api_token=17785a99c890b5ed234623b44589c226" method="post">
  <div id="bedankt" class="hide">
    Bedankt voor uw bericht, en we komen snel bij uw terug.
  </div>
  <h3 id="contact">Contact</h3>
  <div class="form-row">
    <input type='hidden' name='redirect_to' value='{{site.baseurl}}/#bedankt' />
    <input type="text" name="email" required>
    <label alt="Label Text" data-placeholder="Email"></label>
  </div>
  <div class="form-row">
    <input type="text" name="phone" required>
    <label alt="Label Text" data-placeholder="Telefoon"></label>
  </div>
  <div class="form-row">
    <textarea type="text" name="message" required></textarea>
    <label alt="Label Text" data-placeholder="Bericht"></label>
  </div>
  <input type='submit' value='Verzend' />
</form>
