<footer class="site-footer column">

<div class="inner">
  <div class="footer-posts">
  <div class="footer-work">
    <h4>Work</h4>
    <div class="footer-work-list">
      {% for post in site.cases limit: 3 %}
    	<a href="{{ post.url }}">
        {% capture post_list %}{{ post.title }} | {{ post.excerpt }}{% endcapture %}
    		{{ post_list | truncate: 30 }}
    	</a>
    	{% endfor %}
    </div>
  </div>
  <div class="footer-post">
    <h4>Blog</h4>
    <div class="footer-work-list">
      {% for post in site.post limit: 3 %}
      <a href="{{ post.url }}" class="thumb">
        {% capture post_list %}{{ post.title }} | {{ post.excerpt }}{% endcapture %}
    		{{ post_list | truncate: 30 }}
      </a>
      {% endfor %}
    </div>
  </div>
  </div>
  <div class="footer-info">
    <img src="img/team/{{ site.name | slugify }}.jpg" alt="" class="clip"/>
    <div class="">
      <h4>{{ site.name }}</h4>
      <address>
        {{ site.address }}
      </address>
      <p>{{ site.phone }}</p>
      <p>{{ site.email }}</p>
    </div>
  </div>
</div>

</footer>
