<header class="site-header">
<ul class="nav-main">
  <li>
    <button id="showMenu">{% include icon-menu.svg %}</button>
  </li>
  <li>
    <a href="work">{% include icon-cases.svg %}</a>
  </li>
  <li>
    <a href="blog">{% include icon-writing.svg %}</a>
  </li>
  <li>
    <a href="contact">{% include icon-contact.svg %}</a>
  </li>
</ul>

<a href="/">{% include icon-logo.svg %}</a>

<ul class="nav-social">
  <li>
    <a href="#">
      {% include icon-github.svg %}
    </a>
  </li>
  <li>
    <a href="#">
      {% include icon-twitter.svg %}
    </a>
  </li>
  <li>
    <a href="#">
      {% include icon-linkedin.svg %}
    </a>
  </li>
  <li>
    <a href="#">
      {% include icon-linkedin.svg %}
    </a>
  </li>
</ul>
</header>
