<header class="site-header">
<ul class="nav-main">
  <li>
    <button id="showMenu">Menu</button>
  </li>
  <li>
    <a href="#">Work</a>
  </li>
  <li>
    <a href="#">Blog</a>
  </li>
  <li>
    <a href="#">Info</a>
  </li>
</ul>

<a href="#">{% include icon-logo.svg %}</a>

<ul class="nav-social">
  <li>
    <a href="#">
      {% include icon-github.svg %}
    </a>
  </li>
  <li>
    <a href="#">
      {% include icon-twitter.svg %}
    </a>
  </li>
  <li>
    <a href="#">
      {% include icon-linkedin.svg %}
    </a>
  </li>
  <li>
    <a href="#">
      {% include icon-linkedin.svg %}
    </a>
  </li>
</ul>
</header>
