<ul class="nav-social">
  <li>
    <a href="//github.com/{{ site.github_username }}"/>
      {% include icon-github.svg %}
    </a>
  </li>
  <li>
    <a href="//twitter.com/{{ site.twitter_username }}">
      {% include icon-twitter.svg %}
    </a>
  </li>
  <li>
    <a href="//codepen.io/{{ site.codepen_username }}">
      {% include icon-codepen.svg %}
    </a>
  </li>
  <li>
    <a href="//linkedin.com/in/{{ site.linkedin_username }}">
      {% include icon-linkedin.svg %}
    </a>
  </li>
</ul>
