/**
 * icons
 */
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.svg#icomoon') format('svg'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-cube:before, .icon-Logo-zwart-enzo:before, .icon-bubbles:before, .icon-rocket:before, .icon-facebook:before, .icon-twitter:before, .icon-github:before, .icon-dribbble:before, .icon-eye:before, .icon-menu:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 1;
	vertical-align:middle;
    margin-right: 8px;
	-webkit-font-smoothing: antialiased;
}
.icon-Logo-zwart-enzo:before {
	content: "\e000";
}
.icon-dribbble:before {
	content: "\e001";
}
.icon-twitter:before {
	content: "\e002";
}
.icon-github:before {
	content: "\e003";
}
.icon-eye:before {
	content: "\e004";
}
.icon-rocket:before {
	content: "\e005";
}
.icon-cube:before {
	content: "\e006";
}
.icon-bubbles:before {
	content: "\e007";
}
.icon-menu:before {
	content: "\e008";
}