/**
 * The CSS in this file is for styling the demo page, 
 * Meny's critical styles (such as transforms) are applied
 * via JavaScript.
 *
 * See the documentation here: https://github.com/hakimel/meny#meny
 *
 * @author Hakim El Hattab | http://hakim.se
 */
/**
 * Typography
 */
.meny {
    display: none;
    padding: 20px;
    overflow: auto;
    background: $brand-color;
    color: #fff;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.meny a { color: #fff; }
.meny a:hover { color: #fff; text-decoration: underline; }
.meny ul { padding-bottom: 10px; }
.meny ul li {
    display: inline-block;
    width: 160px;
    font-size: 18px;
    line-height: 24px;
    list-style: none;
    padding: 3px 39px;
}
.meny h2 { 
    font-size: 18px;
    margin-top: 15px; }
.meny li.space { line-height: 1px; }

section .social { margin: 10px 0 0 35px; font-family: 'icomoon'; font-size: 28px; }
.social a:hover { text-decoration: none; }
/**
 * Hint graphic that appears while menu is inactive
 */
.meny-arrow {
    position: absolute;
    z-index: 100;
    color: #fff;
    border: 9px solid transparent;

    -webkit-transition: opacity 0.4s ease 0.4s; 
       -moz-transition: opacity 0.4s ease 0.4s; 
        -ms-transition: opacity 0.4s ease 0.4s; 
         -o-transition: opacity 0.4s ease 0.4s; 
            transition: opacity 0.4s ease 0.4s;
}
    .meny-left .meny-arrow {
        left: 0px;
        top: 50%;
        margin-top: -16px;
        border-left: 14px solid #ff4952;
    }
    .meny-active .meny-arrow {
        opacity: 0;

        -webkit-transition: opacity 0.2s ease; 
           -moz-transition: opacity 0.2s ease; 
            -ms-transition: opacity 0.2s ease; 
             -o-transition: opacity 0.2s ease; 
                transition: opacity 0.2s ease;
    }

/* arrow animation */
@-webkit-keyframes left {
    90% { -webkit-transform: translate(0px, 0) }
    95% { -webkit-transform: translate(5px, 0) }
    100% { -webkit-transform: translate(0px, 0)}
}
@-moz-keyframes left {
    90% { -moz-transform: translate(0px, 0) }
    95% { -moz-transform: translate(5px, 0) }
    100% { -moz-transform: translate(0px, 0)}
}
@-o-keyframes left {
    90% { -o-transform: translate(0px, 0) }
    95% { -o-transform: translate(5px, 0) }
    100% { -o-transform: translate(0px, 0)}
}
@keyframes left {
    90% { transform: translate(0px, 0) }
    95% { transform: translate(5px, 0) }
    100% { transform: translate(0px, 0)}
}
.meny-arrow {
    -webkit-animation-name: left;
    -moz-animation-name: left;
    -ms-animation-name: left;
    -o-animation-name: left;
    animation-name: left;
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -o-animation-duration: 5s;
    animation-duration: 5s;

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}
