@import "compass/css3";
@import "var";
@import "icomoon";

* {
    margin: 0;
    padding: 0;
}

html, 
body {
    height: 100%;
    overflow: hidden;
}

body {
background-color: #eee;
    
    background: url('../img/jcenzo.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    @include transition: background 5s ease;

    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-size: 16px;
    color: #222;
}

a {
    color: $brand-color;
    text-decoration: none;
}
.no-touch a:hover {
    color: $brand-color;
    text-decoration: underline;
}
h1 { 
    text-transform: uppercase; 
    font-size: 18px;
    font-weight: 600;
}
h2 {
    font-size: 14px;
    font-weight: 600;
}
p {
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 22px; }


@import "meny";

/**
 * Main contents area
 */
.contents {
    width: 100%;
    height: 100%;
    background: url('../img/fabPackshot.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    -webkit-overflow-scrolling: touch;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

    .contents>article {
        max-width: 400px;
    }
    .contents .sharing {
        position: absolute;
        bottom: 20px;
    }
.contents { overflow: hidden; }
.contents .hidden { 
    visibility: hidden; 
    position: absolute; }

ul {  
    list-style-type: none;
}
h3 {
    font-size: 40px;
}
    
@import "aside";

/* Blog */
.aside section {
    margin: 50px 0 0 50px;
}
.aside h2 {
  font-size: 40px;
  transform: uppercase;
}
.span8 {
    width: 620px;
    margin-top: 50px;
}