/**
 * icons
 */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.svg#icomoon") format("svg"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-cube:before, .icon-Logo-zwart-enzo:before, .icon-bubbles:before, .icon-rocket:before, .icon-facebook:before, .icon-twitter:before, .icon-github:before, .icon-dribbble:before, .icon-eye:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 1;
  vertical-align: middle;
  margin-right: 8px;
  -webkit-font-smoothing: antialiased;
}

.icon-Logo-zwart-enzo:before {
  content: "\e000";
}

.icon-dribbble:before {
  content: "\e001";
}

.icon-twitter:before {
  content: "\e002";
}

.icon-github:before {
  content: "\e003";
}

.icon-eye:before {
  content: "\e004";
}

.icon-rocket:before {
  content: "\e005";
}

.icon-cube:before {
  content: "\e006";
}

.icon-bubbles:before {
  content: "\e007";
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #eee;
  background: url("../img/jcenzo.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16px;
  color: #222;
}

a {
  color: #00b6ad;
  text-decoration: none;
}

.no-touch a:hover {
  color: #00b6ad;
  text-decoration: underline;
}

h1 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}

h2 {
  font-size: 14px;
  font-weight: 600;
}

p {
  margin-bottom: 5px;
  font-weight: 400;
  line-height: 22px;
}

/**
 * The CSS in this file is for styling the demo page, 
 * Meny's critical styles (such as transforms) are applied
 * via JavaScript.
 *
 * See the documentation here: https://github.com/hakimel/meny#meny
 *
 * @author Hakim El Hattab | http://hakim.se
 */
/**
 * Typography
 */
.meny {
  display: none;
  padding: 20px;
  overflow: auto;
  background: #00b6ad;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.meny a {
  color: #fff;
}

.meny a:hover {
  color: #fff;
  text-decoration: underline;
}

.meny ul {
  padding-bottom: 10px;
}

.meny ul li {
  display: inline-block;
  width: 160px;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  padding: 3px 39px;
}

.meny h2 {
  font-size: 18px;
  margin-top: 15px;
}

.meny li.space {
  line-height: 1px;
}

section .social {
  margin: 10px 0 0 35px;
  font-family: 'icomoon';
  font-size: 28px;
}

.social a:hover {
  text-decoration: none;
}

/**
 * Hint graphic that appears while menu is inactive
 */
.meny-arrow {
  position: absolute;
  z-index: 100;
  color: #fff;
  border: 9px solid transparent;
  -webkit-transition: opacity 0.4s ease 0.4s;
  -moz-transition: opacity 0.4s ease 0.4s;
  -ms-transition: opacity 0.4s ease 0.4s;
  -o-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}

.meny-left .meny-arrow {
  left: 0px;
  top: 50%;
  margin-top: -16px;
  border-left: 14px solid white;
}

.meny-active .meny-arrow {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

/* arrow animation */
@-webkit-keyframes left {
  90% {
    -webkit-transform: translate(0px, 0);
  }

  95% {
    -webkit-transform: translate(5px, 0);
  }

  100% {
    -webkit-transform: translate(0px, 0);
  }
}

@-moz-keyframes left {
  90% {
    -moz-transform: translate(0px, 0);
  }

  95% {
    -moz-transform: translate(5px, 0);
  }

  100% {
    -moz-transform: translate(0px, 0);
  }
}

@-o-keyframes left {
  90% {
    -o-transform: translate(0px, 0);
  }

  95% {
    -o-transform: translate(5px, 0);
  }

  100% {
    -o-transform: translate(0px, 0);
  }
}

@keyframes left {
  90% {
    transform: translate(0px, 0);
  }

  95% {
    transform: translate(5px, 0);
  }

  100% {
    transform: translate(0px, 0);
  }
}

.meny-arrow {
  -webkit-animation-name: left;
  -moz-animation-name: left;
  -ms-animation-name: left;
  -o-animation-name: left;
  animation-name: left;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -o-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

/**
 * Main contents area
 */
.contents {
  width: 100%;
  height: 100%;
  background: url("../img/fabPackshot.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.contents > article {
  max-width: 400px;
}

.contents .sharing {
  position: absolute;
  bottom: 20px;
}

.contents {
  overflow: hidden;
}

.contents .hidden {
  visibility: hidden;
  position: absolute;
}

ul {
  list-style-type: none;
}

h3 {
  font-size: 40px;
}

aside {
  color: #444444;
  position: absolute;
  z-index: 10;
  background: #f2f2f2;
  width: 260px;
  height: 100%;
  float: left;
  overflow-y: scroll;
  overflow-x: hidden;
  border-left: 5px solid #00b6ad;
}

.contents aside p span {
  font-family: 'icomoon';
  vertical-align: middle;
  margin-left: 5px;
}

aside h2, aside h1 {
  margin-bottom: 3px;
  color: #00b6ad;
}

aside section {
  width: 220px;
  margin: 20px;
}

aside section div {
  margin-bottom: 20px;
}

ul.projecten li {
  margin-bottom: 5px;
  width: 220px;
  background-color: #e2e2e2;
  height: 75px;
}

aside .tumb img {
  height: 75px;
  width: 75px;
  float: right;
  position: relative;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  opacity: 0.4;
  filter: alpha(opacity=40);
  /* For IE8 and earlier */
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opactiy 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.no-touch aside .tumb img:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
  opacity: 1;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
}

.projecten p {
  display: inline;
  position: absolute;
  width: 135px;
  color: #444;
  padding: 5px;
  line-height: 16px;
}

.projecten small {
  color: #888;
}

.projecten a {
  color: #444;
}

.projecten a:hover {
  color: #444;
  text-decoration: underline;
}

aside ul {
  margin-bottom: 20px;
}

.contact .btn {
  background-color: #00b6ad;
  color: #fff;
  padding: 10px;
}

.contact .btn:hover {
  background-color: #00837d;
}

.contact a:hover {
  text-decoration: none;
}

/* Webkit custom scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Blog */
.aside section {
  margin: 50px;
}

.aside h2 {
  font-size: 40px;
  transform: uppercase;
}
