* {
	transition: all 0.5s ease;
}
button#showMenu {
  cursor: pointer;
}
body.index aside {
	background: $alt-color;
}
body.index aside svg {
  fill: $midgray;
}
body.index aside:hover svg {
  fill: $sub-color;
}
button:focus {outline:0;}

aside svg {
	fill: rgba($alt-color, .6);
}
aside svg:hover {
	fill: $alt-color;
}
aside footer {
	width: 30px;
}
aside footer svg {
	margin-top: 10px;
}

aside button {
	border: none;
	background: none;
	width: 30px;
	padding: 0;
}
#map_canvas {
	width: 100%;
	height: 100%;
}
.outer-nav h1 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}