body.blog button#showMenu {
	position: absolute;
}
body.blog article {
	background: $lightgray;
	padding: 45px 90px;
	margin-bottom: 20px;
	margin-top: -5px;

}
body.blog header {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
}
body.blog article a {
	color: $sub-color;
	text-decoration: none;
}
body.blog .side-author-info {
	margin: 25px 40px 0 80px;
}
body.blog .side-author-info {
	opacity: 0.5;
}
body.blog .side-author-info:hover {
	opacity: 1;
}
body.blog .side-author-info svg {
	width: 30px;
	fill: $base-color;
	background: $alt-color;
	padding: 5px;
}
body.blog .side-author-info .social {
	margin: 30px 0;
}
body.blog .side-author-info .social a {
	margin-right: 15px;
}
body.blog .side-author-info .social a {
	text-decoration: none;
}
body.blog .side-author-info author img {
	margin-right: 10px;
	float: left;
}
body.blog .side-author-info h3 {
	font-size: 14px;
	line-height: 20px;
}
body.blog .side-author-info h4 {
	font-size: 14px;
	line-height: 20px;
}
body.blog .side-author-info p {
	font-size: 14px;
	line-height: 22px;
}
body.blog .side-author-info a {
	color: $alt-color;
}
body.blog article.code {
	background: $sub-color;
	color: $alt-color;
}
body.blog article.code a {
	color: $alt-color;
}
.read-on {
	background: $midgray;
	padding: 5px 10px;
	color: $alt-color !important;
}
.read-on:hover {
	background: $sub-color;
}
article.code .read-on {
	background: $alt-color;
	color: $sub-color !important;
}
body.blog .site-width img {
	width: 100%;
}
/* Single post
———————————————————————————————————— */
body.blog aside {
	max-width: 413px;
	width: 30%;
}
body.blog .site-width {
	width: 45%;
	margin-left: 35%;
}
body.blog p {
	margin-bottom: 20px;
}
body.blog header img {
	margin-bottom: -5px;
}
body.blog header {
	text-align: center;
}

/* END 
———————————————————————————————————— */
.side-author-info button {
	border: none;
	background: none;
	width: auto;
	padding: 0;
}


