footer.footer {
	height: 200px;
}
footer.footer section{
	width: 600px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
footer.footer a.link-no-style,
footer.footer a {
	text-decoration: none;
}
footer.footer a.link-no-style {
  color: $gray;
}