.outer-nav h1 { 
  font-size: 20px;
  color: $sub-color;
  margin-bottom: 20px;
}
.outer-nav p {
  font-size: 16px;
  color: $sub-color;
  margin-bottom: 10px;
}
.outer-nav a {
  text-decoration: none;
}
.outer-nav p a {
  margin: 0;
  text-decoration: underline !important;
}