$base-color: #0ba;
$sub-color: #344;
$alt-color: #fff;

$midgray: #777;
$darkgray: #444;

@import "header";
@import "bits";
@import "component";
@import "footer";
@import "single-post";
@import "layout";
@import "post";
@import "typography";
@import "slides";
@import "mediaq";
@import "blog";
