$base-color: #0ba;
$sub2-color: #E46;
$sub-color: #344;
$alt-color: #fff;

$lightgray: #eee;
$midgray: #ddd;
$gray: #aaa;
$darkgray: #444;

@import "header";
@import "bits";
@import "component";
@import "footer";
@import "single-post";
@import "layout";
@import "post";
@import "typography";
@import "slider";
@import "mediaq";
@import "blog";