{% include doctype-and-head.html %}

<body class="{{ page.categories }} {{ page.tags }}">
  <div id="perspective" class="perspective effect-moveleft">
        {% include aside.html %}
    <div class="container">
      <div class="wrapper"><!-- wrapper needed for scroll -->
        <!-- Top Navigation -->
          {{ content }}

      </div><!-- wrapper -->
    </div><!-- /container -->
    <nav class="outer-nav right vertical">
      <a href="/" class="">Home</a>
      <a href="/projects" class="">Projects</a>
      <a href="/experiments" class="">Experiments</a>
      <a href="/contact" class="">Contact</a>
      <h1>Graphic designer who loves technology</h1>
      <p>Mitchel van Eijgen <br>
        <a href:"mailto:mvaneijgen@gmail.com">mvaneijgen@gmail.com</a> <br>
        <a href="tel:0638632735">06 38 63 27 35</a> <br>
        Gasthuisvest 47 <br>
        2011 KA Haarlem</p>
    </nav>
  </div><!-- /perspective -->
  <script src="/js/classie.js"></script>
  <script src="/js/menu.js"></script>
</body>

</html>
